@import 'bootstrap';
@import 'bootstrap-responsive';

$btnPrimaryBackground: purple;

body{
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: 'Helvetica-Neue', sans-serif;
}

.bodypadding{
  padding-top: 30px;
}

.navbar-inverse .navbar-inner {
  background-color: #E3552A;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  @include box-shadow(none !important);
  border: 0;
}

.navbar .nav > li > a {
  color: #fff;
}

.navbar-inverse .brand {
  color: #B93E1A;
  &:hover{
    color: #B93E1A;
  }
}

.navbar .pull-right > li > .dropdown-menu{
  color: #000;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle{
  background-color: #E3552A;
  color: white;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.navbar-inverse .navbar-search .search-query{
  background-color: #fff;
  border: 0;
  @include box-shadow(none !important);
}

.jumbotron {
  padding: 50px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: #fff;
  background-color: #B93E1A;
  h1{
    font-weight: "700";
    font-size: 55px;
  }
  p{
    font-weight: "100";
    font-size: 20px;
  }
}

.footer{
  margin-top: 50px;
  color: $grayLight;
  a{
      color: $gray;
  }
}

.box {
  margin: 5px;
  padding: 5px;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #444;
  width: 214px;
}

.box img {
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.name {
  margin: 10px 0 5px;
}
